* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.html {

    scroll-behavior: smooth;
}
body {
  background-color: rgb(220,209,230);
}

/* Navigation Bar */
.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(180,172,212);
  position: sticky; 
  box-shadow: 0 2px 10px white;
  top: 0;
}

.navbar ul {

    display: flex;
    list-style: none;
    margin: 20px 0px;
}

.navbar ul li {

    font-family: century;
    font-size: 1.6rem;
    font-weight: bold;
}
.navbar ul li a {

    text-decoration: none;
    color: black;
    padding: 8px 25px;
    justify-content: space-between;
    transition: all.5s ease;
}
.navbar ul li a:hover {

    background-color: #fcb4bb;
    color: white;
    box-shadow: 0 0 10px #fcb4bb;
    border-radius: 20px;
}
.logo { 

     height: 70px; 
     width: 100px; 
     /* background-color: #dcd1e6;  */
     margin: 10px;
 } 

/*Kevin i added Home section*/
#home {
    display: flex;
    flex-direction: column;
    background-color: rgba(0, 0, 0, 0.2);
    height: 840px;
    justify-content: center;
    align-items: center;
    color: white;
}
#home::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    background: url("../images/background.png") no-repeat center center/cover;
    height: 930px;
    width: 100%;
    z-index: -1;
    opacity: .8;
}
span {
    color: #7c6ae6;
}
.celes {
    color: #fcb4bb;
}
.hello {
    color: white;
}
.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    top: 30%;
    right: 10%;
}
.titles {
    font-family: century;
    font-size: 4rem;
    text-align: center;
    margin: 40px 0px;
}
a {
  text-decoration: none;
  font-family: century;
  font-size: 1.5rem;
  background-color: transparent;
  color: #7c6ae6;
}
.btn {
    font-family: century;
    padding: 10px 35px;
    background-color: transparent;
    border: 1px solid white;
    color: white;
    outline: none;
    transition: .6s ease;
}
.btn:hover {
    cursor: pointer;
    background-color: white;
    color: black;
    box-shadow: 0 0 5px white, 0 0 10px white, 0 0 10px white;
    font-weight: bold;
}

/*kevin added about Section*/
#about {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    background-color: rgb(172,168,188);
    padding: 20px;
    /* margin-bottom: 50px; */
}
#pic {
    display: flex;
}
#pic img {
    width: 600px;
    height: 400px;
}
#intro {
    font-family: century;
    font-size: 1.5rem;
    display: flex;
    flex-direction: column;
    text-align: justify;
    padding: 20px;
}
#intro h2 {
    font-size: 2rem;
    margin-bottom: 20px;
}
/* crew section */
#teamCrew {
  display: flex;
  flex-direction: column;
  margin-top: 20;
  height: 840px;
  background-color: #dcd1e6;
  color: black;
  align-items: center;
  padding: 20px;
}
.wrapper{
  margin-top: 10%;
}

.wrapper h1{
  font-family: 'Allura', cursive;
  font-size: 52px;
  margin-bottom: 60px;
  text-align: center;
}
.headings {
  font-family: century;
  font-size: 2.5rem;
  text-align: center;
  margin: 40px 0px;
}

.team{
  display: flex;
  justify-content: center;
  width: auto;
  text-align: center;
  flex-wrap: wrap;
}

.team .ourTeam{
  background: rgb(251,173,188);
  margin: 5px;
  margin-bottom: 50px;
  width: 300px;
  height: 500px;
  padding: 20px;
  line-height: 20px;
  color: white;  
  position: relative;
}

.team .ourTeam h3{
  color: black;
  font-size: 26px;
  margin-top: 80px;
}

.team .ourTeam p.role{
  color: black;
  margin: 12px 0;
  font-size: 12px;
  text-transform: uppercase;
}

.team .ourTeam .personalImage{
  position: absolute;
  top: -50px;
  left: 50%;
  transform: translateX(-50%);
  width: 130px;
  height: 130px;
  border-radius: 50%;
  background: white;
}

.team .ourTeam .personalImage img{
  width: 130px;
  height: 130px;
  padding: 5px;
}

/*kevin added contact us Section*/
#contact {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    background-color: #000000dc;
    color: white;
    padding: 20px;
}
.form {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    align-items: center;
    margin: 20px 0px;
}
.input {
    padding: 12px;
    margin: 15px;
    width: 20%;
    border-radius: 10px;
    border: none;
    outline: none;

}
#message {
    width: 20%;
    padding: 10px;
    margin: 15px;
    border-radius: 10px;
    border: none;
    outline: none;

}
#send {
    padding: 10px;
    width: 10%;
    margin: 40px;
    border-radius: 10px;
    border: none;
    outline: none;
}
#send:hover {
    cursor: pointer;
    box-shadow: 0 0 10 green;
}

#contact ul {
    display: flex;
    list-style: none;
    margin: 20px 0px;
}
#contact li {
    font-family: century;
    font-size: 1.1rem;
    font-weight: bold;
}
#contact ul li a {
    text-decoration: none;
    color: white;
    padding: 8px 25px ;
    transition: all .5s ease;
}
#contact ul li a:hover {
    background-color: white;
    color: black;
    box-shadow: 0 0 10px white;
}





/* Alex added css for new contact us section */

#contact {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  height: 840px;
  background-color: grey;
  color: white;
  padding: 20px;
}
.form {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  align-items: center;
  margin: 20px 0px;
}
.input {
  padding: 12px;
  margin: 15px;
  width: 20%;
  border-radius: 10px;
  border: none;
  outline: none;

}
#message {
  width: 20%;
  padding: 10px;
  margin: 15px;
  border-radius: 10px;
  border: none;
  outline: none;

}
#send {
  padding: 10px;
  width: 10%;
  margin: 40px;
  border-radius: 10px;
  border: none;
  outline: none;
  transition: all .5s ease;
}
#send:hover {
  cursor: pointer;
  box-shadow: 0 0 10 green;
  background-color: #b3acd4;
  color: white;
  box-shadow: 0 0 10px #b3acd4;
  border-radius: 15px;
}

#contact ul {
  display: flex;
  border-radius: 15px;
  list-style: none;
  margin: 20px 0px;
}
#contact li {
  font-family: century;
  border-radius: 15px;
  font-size: 1.1rem;
  font-weight: bold;
}
#contact ul li a {
  text-decoration: none;
  border-radius: 15px;
  color: white;
  padding: 8px 25px ;
  transition: all .5s ease;
}
#contact ul li a:hover {
  background-color: #b3acd4;
  color: white;
  box-shadow: 0 0 10px #b3acd4;
  border-radius: 15px;
}

/* footer section */
footer {
  background-color: #333;
  color: #fff;
  padding: 20px 0;
}

footer p {
  margin: 0;
  text-align: center;
}

footer ul {
  display: flex;
  justify-content: space-around;
  list-style: none;
  margin: 0;
  padding: 0;
}

<<<<<<< HEAD
  .formbold-btn {
    text-align: center;
    width: 100%;
    font-size: 16px;
    border-radius: 5px;
    padding: 14px 25px;
    border: none;
    font-weight: 500;
    background-color: #6A64F1;
    color: white;
    cursor: pointer;
    margin-top: 25px;
  }
  .formbold-btn:hover {
    box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.05);
  }
  /* gallery placement */
  .gallery{
  display: flex;
  flex-wrap: nowrap;
  justify-content: flex-start; /* align items to the left */
  margin: 10px;
  
/* h3 adjustment */
  }
  h3{
    color: blue;
    padding: 20px;
  }
=======
footer a {
  color: #fff;
  text-decoration: none;
}

footer a:hover {
  color: #ccc;
}
>>>>>>> main
